.sidebar {
    z-index: 20;
    position: absolute;
    top: 6vh;
    left: -230px;
    height: 94vh;
    width: 288px;
    transition: left 0.2s ease-in-out, box-shadow 0.3s ease-out ;
    background-color: var(--primary);
    box-shadow: 10px 18px 30px rgba(51, 153, 137, 1);;
    border-right: #ffffff;
    border-width: 3px;
}
.sidebarTitle {
    color: var(--textColor);
    font-size: 40px;
    font-weight: 450;
    position: absolute;
    margin-left: -50px;
    margin-top: 10px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.sidebarTitle.open{
    opacity: 1;
    margin-left: 15px;
}
.historyOptions {
    background-color: var(--primary);
    position: relative;
    top: 0%;
    height: 78.75%;
    bottom: 12vh;
    margin-top: 8vh;
    margin-right:15vw;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.historyOptions.open {
    margin-right:0px;
    opacity: 1;
}
.historyList {
    background-color: var(--primary);
    position: relative;
    top: 0%;
    height: 100%;
    bottom: 0%;
    padding-left: 0;
}
.newChatButton {
    background-color: var(--secondary);
    border-radius: 12px;
    border: none;
    position: absolute;
    width: 83%;
    bottom: 15px;
    left: -50px;
    transition: left 0.6s ease-in-out, opacity 0.6s ease-in-out, background-color 0.2s ease-in-out;;
    opacity: 0;
}
.newChatButton.open {
    left: 7.5%;
    opacity: 1;
}
.newChatButton:hover {
    background-color: var(--secondary-accent);
}
.newChatIcon {
    height: 80px;
    width: 80px;
}
.sidebar.open {
    left: 0px;
    box-shadow: 10px 18px 12px rgba(0, 0, 0, 0.5)
}

